PORT=3000

# API Key
API_KEY=your_api_key_here

# Mongo
MONGO_URI=mongodb://localhost:27017
MONGO_DB=invoicing

# ARCA / AFIP
ARCA_ENV=dev
ARCA_ACCESS_TOKEN=TU_ACCESS_TOKEN
ARCA_CUIT=20409378472

# LOGGER
LOG_LEVEL = INFO
LOG_LEVEL_ABSTRACT_USE_CASE_HANDLER = DEBUG

# Para producción:
# ARCA_ENV=prod
# ARCA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
# ARCA_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"